.underline {
    display: inline-block;
    border-bottom: 2px solid var(--main);
    line-height: 1;
}

.rating {
    display: flex;
    gap: 4px;
}

.icon {
    fill: var(--rating);
    width: 16px;
    height: 16px;
}