.header {
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 28px 64px;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    background: var(--inputs);
}

.icon {
    width: 136px;
    height: 16px;
    margin-right: 430px;
}

.navList {
    display: flex;
    gap: 32px;
}

.link {
    color: var(--main);
}

.activeLink {
    color: var(--button-hover);
}